.footer {
    background-color: var(--azul-swan);
    color: var(--dourado-swan);
    padding: 40px 24px;
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 24px;
}

.footerLogo img {
    width: 160px;
    height: auto;
    opacity: 0.9;
}

.footerLogo {
    margin-bottom: -20px;
}

.footerCopyright {
    margin-top: 0;
    font-size: 0.8rem;
    opacity: 0.7;
}

.footerDev {
    font-size: 0.6rem;
    margin: 0;
}

.footerDev a {
    color: var(--dourado-swan);
    font-weight: 600;
    text-decoration: none;
    margin-left: 5px;
}

.footerDev a:hover {
    text-decoration: underline;
}